@model MorrisPhotos.Web.ViewModels.Home.CategoryDetailsViewModel

@{
    ViewData["Title"] = $"{Model.Category.DisplayName} Photos";
}

<section class="module-cover parallax text-center" data-background="/images/module-20.jpg" data-overlay="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
</section>