@model MorrisPhotos.Web.ViewModels.Home.IndexViewModel

@{
    ViewData["Title"] = "Home";
}

<section class="module-cover parallax text-center fullscreen" data-background="/images/module-2.jpg" data-overlay="0.6">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Hello!</h1>
                <p>Welcome to my photography website project.</p>
                <p>Use the links in the top navigation to browse the website.</p>
            </div>
        </div>
    </div>
</section>

@*<ul>
    @foreach (var schoolYear in Model.SchoolYears)
    {
        <li><a asp-area="" asp-controller="Home" asp-action="SchoolYear" asp-route-schoolYear="@schoolYear.Name">@schoolYear.Name</a></li>
    }
</ul>*@