
@{
    ViewData["Title"] = "School Year Details";
}

<!-- Section-->
<section class="module parallax" data-background="assets/images/module-1.jpg" data-overlay="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-9 m-auto text-center">
                <h2>Parallax Section.</h2>
                <p class="lead">See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
            </div>
        </div>
    </div>
</section>
<!-- Section end-->