@model MorrisPhotos.Web.ViewModels.Home.SchoolYearAndCategoryAndEventDetailsViewModel

@{
    ViewData["Title"] = "SchoolYearAndCategoryAndEventDetails";
}

<h2>SchoolYearAndCategoryAndEventDetails</h2>

